.App {
  text-align: center;
}
body{
  background-color: #f2f2f9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  transition: all 0.3s ease;
  min-height: 100vh;
  width: 240px;
}

.sidebar.collapsed {
  width: 40px;
}

.topbar {
  height: 48px;
}

.logo-sisem {
  font-weight: 700;
  letter-spacing: 0.05em;
  background: linear-gradient(135deg, #007bff, #00c9a7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* fallback por si no aplica el clip */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}